.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    margin: auto;
}

@keyframes animação {
    0% {
        transform: translatey(0);
        background: rgba(255, 0, 0, 0.5);
    }
    50% {
        transform: translateY(100px);
        background: rgba(255, 0, 255, 1.0);
    }
    100% {
        transform: translateY(200px);
        background: rgba(255, 255, 0, 0.2);
    }
}

.btn {
    animation: animação 4.0s ease;
    animation-iteration-count: infinite;
}