.app {
    display: flex;
    flex-direction: column;
}
.countButton {
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    color: blueviolet;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
}
.countButton:hover {
    box-shadow: 0px 5px 10px white;
}
a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
a:hover {
    color: blueviolet;
}
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navBar {
    background-color: white;
    width: 100%;
    height: 100%;
}
.header {
    background: linear-gradient(lightblue, cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}
.options2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: blueviolet;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}
.happyDog {
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}
.imageContainer:hover {
    transform: scale(1.1);
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.buttons {
    display: flex;
    gap: 20px;
}
.servicesButton, .shopButton {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.servicesButton {
    color: blueviolet;
    background-color: white;
}
.servicesButton:hover {
    box-shadow: 0px 5px 10px white;
}
.shopButton {
    background-color: blueviolet;
    color: white;
}
.shopButton:hover {
    box-shadow: 0px 5px 10px blueviolet;
}
.showCase {
    display: flex;
    justify-content: space-around;
}
.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.card {
    border-radius: 20px;
    margin: 50px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    color: blueviolet;
    border: 2px solid blueviolet;
    border-style: dashed ;
}
.cardBottom {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-size: 20px;
}
.cardImage {
    border-radius: 20px;
}
.label {
    margin: 10px;
}
.buyButton:hover {
    box-shadow: 0px 5px 10px blueviolet;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.1);
}